.scores{
    display: flex;
    justify-content: space-around;
}
h1{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
}
.heading{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 20px;
}
.buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
}
.scores-container{
    display: flex;
    justify-content: space-around;
}
.sign{
    display: flex;
    justify-content: center;
    font-size: 40px;
}